[View in Colaboratory](https://colab.research.google.com/github/hobson/springboard-minproject-json-luke/blob/master/JSON%20exercise%20LM.ipynb)

In [0]:
import pandas as pd

In [0]:
import json
from pandas.io.json import json_normalize

In [0]:
data = [{ "_id" : { "$oid" : "52b213b38594d8a2be17c780" },
 "boardapprovaldate" : "2013-11-12T00:00:00Z", 
 "borrower" : {"FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA"},
 "closingdate" : {"2018-07-07T00:00:00Z"}, 
 "country_namecode" : {"Federal Democratic Republic of Ethiopia!$!ET"},
 "countrycode" : {"ET"}, 
 "countryname" : {"Federal Democratic Republic of Ethiopia"}, 
 "countryshortname" : {"Ethiopia"}, 
 "docty" : {"Project Information Document,Indigenous Peoples Plan,Project Information Document"},
"impagency" : {"MINISTRY OF EDUCATION"}, 
"lendinginstr" : {"Investment Project Financing"}, 
"lendinginstrtype" : {"IN"}, 
"lendprojectcost" : {550000000}, 
"majorsector_percent" :
     [ { "Name" : "Education", "Percent" : 46 }, 
     { "Name" : "Education", "Percent" : 26 }, 
     { "Name" : "Public Administration, Law, and Justice","Percent" : 16 },
      { "Name" : "Education", "Percent" : 12 } ]}]

In [0]:
json_normalize(data, ['_id', ['boardapprovaldate'], 'borrower', 'closingdate', 'country_namecode', 'countrycode', 'countryname', 'countryshortname', 'docty', 'impagency', 'lendinginstr', 'lendinginstrtype', 'lendprojectcost', 'majorsector_percent', ['Name', 'Education', 'Percent']])

TypeError: string indices must be integers

In [9]:
# it's good to step back and make sure you have the problem set up correctly and you know how they work.
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

# Play around with this example, modify it, see if you can break it or do something different with it!!!!

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [10]:
# Now let's work with your data:
data = [{ "_id" : { "$oid" : "52b213b38594d8a2be17c780" },
 "boardapprovaldate" : "2013-11-12T00:00:00Z", 
 "borrower" : {"FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA"},
 "closingdate" : {"2018-07-07T00:00:00Z"}, 
 "country_namecode" : {"Federal Democratic Republic of Ethiopia!$!ET"},
 "countrycode" : {"ET"}, 
 "countryname" : {"Federal Democratic Republic of Ethiopia"}, 
 "countryshortname" : {"Ethiopia"}, 
 "docty" : {"Project Information Document,Indigenous Peoples Plan,Project Information Document"},
"impagency" : {"MINISTRY OF EDUCATION"}, 
"lendinginstr" : {"Investment Project Financing"}, 
"lendinginstrtype" : {"IN"}, 
"lendprojectcost" : {550000000}, 
"majorsector_percent" :
     [ { "Name" : "Education", "Percent" : 46 }, 
     { "Name" : "Education", "Percent" : 26 }, 
     { "Name" : "Public Administration, Law, and Justice","Percent" : 16 },
      { "Name" : "Education", "Percent" : 12 } ]}]
#Simplify you json normalize command and build it up one step at a time...
json_normalize(data, ['_id'])

      0
0  $oid

In [11]:
json_normalize(data, ['_id', ['boardapprovaldate']])

TypeError: ignored

In [0]:
# ^so something is wrong with the very first part of your json normalize command, fix that first !!!

In [0]:
json.load((open('C:\Users\lmontoni\OneDrive - Mission1st\Desktop\data_wrangling_json\world_bank_projects.json')))